.menu{
    text-align: center;
    color: black;
    width: 25%;
    background-color: #333333dc;
    position: sticky;
    top: 0;
    height: 760px;
    color: white;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-car{
    width: 60%;
    border-radius: 10px;
    border: 0;
}

.search-icon{
    width: 30px;
    cursor: pointer;
}

.separator{
    width: 100%;
    background-color: black;
    height: 0.5px;
}

.sorting{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    cursor: pointer;
}

.sorting img{
    width: 20px;
    padding-left: 5px;
}

.total-price{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}

.create-car{
    font-size: 20px;
    border: 0;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;
    transition: all 0.3s ease;
}

.create-car:hover{
    transform: scale(1.2);
}
