.items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 10px;
}

.card{
    margin-right: 40px;
    margin-top: 40px;
    max-width: 250px;
    box-sizing: border-box;
    text-align: center;
}

.price{
    display: flex;
    justify-content: space-evenly;
}